@use "@/scss/utils" as *;

.form {
    max-width: toRem(425);
    display: flex;
    flex-direction: column;
    gap: toRem(16);
    margin-bottom: toRem(32);
    
    .inputs-container {
        display: grid;
        grid-template-columns: 1fr toRem(100);
        gap: toRem(16);
    }
}