@use "@/scss/utils" as *;

.methods-container {
    max-width: toRem(425);
    display: flex;
    flex-direction: column;
    gap: toRem(32);
    margin-bottom: toRem(32);
}

.radio-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: toRem(16);
    align-items: center;
}

.payments {
    display: flex;
    align-items: center;
    gap: toRem(8);
    .payment-image {
        width: toRem(42);
        height: toRem(28);
        object-fit: contain;
    }
}