@use "@/scss/utils" as *;

.just-for-you {
    &--section {
        @include adaptiveValue(padding, 135, 15);
        @include nest-to-avoid-collision {
            padding-top: 0;
            padding-bottom: toRem(140);
        }
    }
    &--container {
        max-width: toRem($containerWidth);
        margin: 0 auto;
    }
    &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}