@use "@/scss/utils" as *;

.product-list {
    display: flex;
    gap: toRem(30);
    margin-top: toRem(30);

    &__all {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: toRem(30);
        grid-auto-flow: row;
    }
}