@use "@/scss/utils" as *;

.explore {
    @include adaptiveValue(padding, 135, 15);
    @include nest-to-avoid-collision {
        padding-top: 0;
        padding-bottom: toRem(140);
    }
    &-container {
        max-width: toRem($containerWidth);
        margin: 0 auto;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: toRem(60);
    
        .button-container {
            *:not(:last-child) { margin-right: toRem(8); }
        }
    }
    
    .product-container {
        display: flex;
        flex-direction: column;
        gap: toRem(60);
    }
    
    .button-all {
        display: block;
        margin: toRem(60) auto 0;
    }
}