@use "@/scss/utils" as *;

.cart {
    &-section {
        @include adaptiveValue(padding, 135, 15);
        @include nest-to-avoid-collision {
            padding-top: 0;
            padding-bottom: toRem(140);
        }
    }
    &-container {
        margin: 0 auto;
        max-width: toRem($containerWidth);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}