@use "@/scss/utils" as *;

.statistic-list {
    width: 100%;
    max-width: toRem(1170);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(140);
}