@use "@/scss/utils" as *;

.review {
    &-container {
        display: flex;
        align-items: center;
        margin-bottom: toRem(16);

        .vertical-line {
            width: toRem(1);
            height: toRem(16);
            background: rgba($color: $btnColor3, $alpha: 0.5);
            margin-right: toRem(16);
        }

        .in-stock,
        .out-of-stock {
            font-size: toRem(14);
            font-weight: 400;
            line-height: 1.5; /* 21/14 */
        }
        .in-stock { color: $btnColor1; }
        .out-of-stock { color: $secondaryColor3; }
    }
    &-count {
        font-size: toRem(14);
        font-weight: 400;
        color: rgba($color: $textColor3, $alpha: 0.5);
        line-height: 1.5; /* 21/14 */
        margin-left: toRem(8);
        margin-right: toRem(16);
    }
}

