@use "@/scss/utils" as *;

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    &-container {
        width: 100%;
        max-width: toRem(870);
        box-sizing: border-box;
        padding: toRem(40) toRem(80);
        background: $primaryColor1;
        box-shadow: 0 1px 13px 0 rgba($color: #000000, $alpha: 0.05);
    }
}

.inputs-container {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: toRem(50);
    }
    &__flex {
        display: flex;
        flex-direction: column;
        gap: toRem(16);
    }
}