@use "@/scss/utils" as *;

.link {
    font-size: toRem(16);
    font-weight: 400;
    color: $textColor3;
    line-height: 1.5; /* 24/16 */
    position: relative;
    @include smoothAnimation();
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: toRem(1);
        background: $textColor3;
        @include smoothAnimation();
    }
    &:hover::after {
        width: 100%;
    }
}