@use "@/scss/utils" as *;

.header-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: toRem(24   );
    .subtitle {
        display: inline-flex;
        align-items: center;
        gap: toRem(16);
        color: $secondaryColor3;
        .rectangle {
            height: toRem(40);
            width: toRem(20);
            background: $secondaryColor3;
            border-radius: toRem(4);
        }
    }
}