@use "@/scss/utils" as *;

.additional-button {
    width: toRem(34);
    height: toRem(34);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryColor1;
    color: $btnColor3;
    @include smoothAnimation();

    &[name="heart"]:hover,
    &[name="trash"]:hover { color: #f91616; }
    &[name="view"]:hover { color: #44a5d9; }
}