@use "@/scss/utils" as *;

.gallery-container {
    width: toRem(700);
    height: toRem(600);
    display: grid;
    grid-template-columns: 1fr toRem(500);
    column-gap: toRem(30);

    .slider-view {
        width: 100%;
        height: 100%;
        max-width: toRem(170);
        overflow: hidden;
    }
    
    .image-slider {
        display: flex;
        flex-direction: column;
        row-gap: toRem(16);
        @include smoothAnimation(400ms);
    }
    .main-image {
        max-width: 100%;
        &-container {
            width: 100%;
            background: $secondaryColor1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 toRem(27);
            box-sizing: border-box;
            border-radius: toRem(4);
        }
    }
    .other-image {
        max-height: 100%;
        max-width: 100%;
        &-container {
            cursor: pointer;
            width: 100%;
            min-height: toRem(138);
            height: toRem(138);
            background: $secondaryColor1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: toRem(12) toRem(18);
            box-sizing: border-box;
            border-radius: toRem(4);
        }
    }
}