@use "@/scss/utils" as *;



.product-info {
    width: 100%;
    max-width: toRem(400);

    .horizontal-line {
        width: 100%;
        height: toRem(0.5);
        background: rgba($color: $textColor3, $alpha: 0.5);
        margin-bottom: toRem(24);
    }
    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: toRem(40);
    }
}