@use "@/scss/utils" as *;

.sign-up {
    width: toRem(370);
    display: grid;
    grid-template-columns: 1fr;
    gap: toRem(40);
    margin-top: toRem(48);
    margin-bottom: toRem(32);
    
    .buttons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: toRem(16);
    }

    .button-wrapper > * { width: 100%; }
}