@use "@/scss/utils" as *;

.not-found {
    @include adaptiveValue(padding, 135, 15);
    @include nest-to-avoid-collision {
        padding-top: toRem(80);
        padding-bottom: toRem(140);
    }
    &--container {
        max-width: toRem($containerWidth);
        margin: 0 auto;
    }
    &--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: toRem(140);
    }
    &--title {
        font-size: toRem(110);
        font-weight: 500;
        color: #000;
        line-height: 1.04; /* 115/110 */
        margin: 0 auto toRem(40);
    }
    &--subtitle {
        font-size: toRem(16);
        font-weight: 400;
        color: $textColor3;
        line-height: 1.5; /* 24/16 */
        margin: 0 auto toRem(80);
    }
}