@use "@/scss/utils" as *;

.tag {
    padding: toRem(4) toRem(12);
    border-radius: toRem(4);
    color: $textColor1;
    font-size: toRem(12);
    font-weight: 400;
    line-height: 1.5; /* 18/12 */
    &__new {
        @extend .tag;
        background: $btnColor1;
    }
    &__discount {
        @extend .tag;
        background: $secondaryColor3;
    }
}