@use "@/scss/utils" as *;

.info-box {
    border-radius: toRem(4);
    padding: toRem(13) toRem(16);
    font-size: toRem(16);
    line-height: 1.5; /* 24/16 */
    color: $textColor3;
    background: $secondaryColor1;
    &::placeholder {
        color: rgba($color: $textColor3, $alpha: 0.5);
    }
}